<%- include("partials/header"); -%>

<h1>Home</h1>

<% for (item of listItems) { %>
<form action=<%= "/habits/" + item._id + "?_method=DELETE" %> method="post">
  <input
    type="checkbox"
    name="checkbox"
    value="<%= item._id %>"
    onChange="this.form.submit()"
  />
  <h2><%= item.name %></h2>
  <p><%= item.description %></p>
</form>
<% } %>

<form class="item" action="/habits" method="post">
  <input type="text" name="newHabitName" placeholder="Name" autocomplete="off" />
  <input type="text" name="newHabitDescription" placeholder="Description" autocomplete="off" />
  <button type="submit">+</button>
</form>

<a href="/logout">Logout</a>

<%- include("partials/footer"); -%>
